.mat-dialog-title {
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 25px;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

button {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}
