<div class="canvas">
  <div class="shapes">
    <mat-icon svgIcon="eru-dmn-input"></mat-icon>
    <mat-icon svgIcon="eru-dmn-knowledge"></mat-icon>
    <mat-icon svgIcon="eru-dmn-knowledge-model"></mat-icon>
    <mat-icon svgIcon="eru-dmn-decision"></mat-icon>
    <mat-icon svgIcon="eru-dmn-text"></mat-icon>
    <mat-icon svgIcon="eru-dmn-service"></mat-icon>
  </div>
  <div class="body">
    <button mat-raised-button color="accent" (click)="openSideDrawer('input')">Input</button>
  </div>
</div>
