<div class="context-wrapper">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-2 d-flex justify-content-center align-items-center py-5 px-1">
            Context Entry 1 (&lt;undefined&gt;)
        </div>
        <div class="col-sm-12 col-md-6 col-xl-10 d-flex justify-content-center align-items-center py-5 px-1">
            Select Expression
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-2 d-flex justify-content-center align-items-center py-5 px-1">
            &lt;Result&gt;
        </div>
        <div class="col-sm-12 col-md-6 col-xl-10 d-flex justify-content-center align-items-center py-5 px-1">
            Select Expression
        </div>
    </div>
</div>
