.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  padding: 0px;
  color: #424242;
}

input[type="text"] {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  padding: 0px;
  border: 2px solid #bdbdbd;
  color: #424242;
}
