<table>
  <col style="width: 50%" />
  <col style="width: 15%" />
  <col style="width: 10%" />
  <col style="width: 20%" />
  <col style="width: 5%" />
  <thead>
    <tr>
      <th>Name</th>
      <th>Tyoe</th>
      <th>Is Array</th>
      <th>Constraints</th>
      <th>Actions</th> 
    </tr>   
  </thead>
  <tbody>
    <ng-container *ngFor="let level1Data of dataSource; index as level1">
      <tr>
        <td
          style="padding-left: 6em"
          appTableInput
          [(data)]="level1Data.Name"
          (dataChange)="dataChange()"
          [editEnable]="getEditEnabled(level1Data)"
          [showDrop]="level1Data.SubDataTypes.length > 0"
          [(dropClicked)]="level1Data.IsExpanded"
          type="text">
        </td>
        <td
          appTableInput
          [(data)]="level1Data.Type"
          (dataChange)="dataChange()"
          [editEnable]="getEditEnabled(level1Data)"
          [customOptions]="getCustomOptions(dataSource, level1)"
          type="select">
        </td>
        <td>  
          <mat-checkbox color="accent" [(ngModel)]="level1Data.IsArray" (change)="dataChange()"></mat-checkbox>
        </td>
        <td><mat-icon *ngIf="!level1Data.Constraints" svgIcon="eru-chat"></mat-icon>{{ level1Data.Constraints }}</td>
        <td>
          <mat-icon
            *ngIf="level1Data.Type === 'Object'"
            (click)="addRow([level1])">
              add_circle_outline
          </mat-icon>
        </td>
      </tr>

      <ng-template
        [ngIf]="level1Data.SubDataTypes.length > 0 && level1Data.IsExpanded">
        <ng-container
          *ngFor="let level2Data of level1Data.SubDataTypes; index as level2">
          <tr>
            <td
              style="padding-left: 10.5em"
              appTableInput
              [(data)]="level2Data.Name"
              (dataChange)="dataChange()"
              [editEnable]="getEditEnabled(level2Data)"
              [showDrop]="level2Data.SubDataTypes.length > 0"
              [(dropClicked)]="level2Data.IsExpanded"
              type="text">
            </td>
            <td
              appTableInput
              [(data)]="level2Data.Type"
              (dataChange)="dataChange()"
              [editEnable]="getEditEnabled(level2Data)"
              [customOptions]="getCustomOptions(level1Data.SubDataTypes, level2)"
              type="select">
            </td>
            <td>
              <mat-checkbox color="accent" [(ngModel)]="level2Data.IsArray" (change)="dataChange()"></mat-checkbox>
            </td>
            <td>{{ level2Data.Constraints }}</td>
            <td>
              <mat-icon
                *ngIf="level2Data.Type === 'Object'"
                (click)="addRow([level1, level2])">
                add_circle_outline
              </mat-icon>
            </td>
          </tr>

          <ng-template
            [ngIf]="level2Data.SubDataTypes.length > 0 && level2Data.IsExpanded">
            <ng-container
              *ngFor="let level3Data of level2Data.SubDataTypes; index as level3">
              <tr>
                <td
                  style="padding-left: 15em"
                  appTableInput
                  [(data)]="level3Data.Name"
                  (dataChange)="dataChange()"
                  [editEnable]="getEditEnabled(level3Data)"
                  [showDrop]="level3Data.SubDataTypes.length > 0"
                  [(dropClicked)]="level3Data.IsExpanded"
                  type="text">
                </td>
                <td
                  appTableInput
                  [(data)]="level3Data.Type"
                  (dataChange)="dataChange()"
                  [editEnable]="getEditEnabled(level3Data)"
                  [customOptions]="getCustomOptions(level2Data.SubDataTypes, level3)"
                  type="select">
                </td>
                <td>
                  <mat-checkbox color="accent" [(ngModel)]="level3Data.IsArray" (change)="dataChange()"></mat-checkbox>
                </td>
                <td>{{ level3Data.Constraints }}</td>
                <td>
                  <mat-icon
                    *ngIf="level3Data.Type === 'Object'"
                    (click)="addRow([level1, level2, level3])">
                      add_circle_outline
                  </mat-icon>
                </td>
              </tr>

              <ng-template
                [ngIf]="level3Data.SubDataTypes.length > 0 && level3Data.IsExpanded">
                <ng-container
                  *ngFor="let level4Data of level3Data.SubDataTypes; index as level4">
                  <tr>
                    <td
                      style="padding-left: 19.5em"
                      appTableInput
                      [(data)]="level4Data.Name"
                      (dataChange)="dataChange()"
                      [editEnable]="getEditEnabled(level4Data)"
                      [showDrop]="level4Data.SubDataTypes.length > 0"
                      [(dropClicked)]="level4Data.IsExpanded"
                      type="text">
                    </td>
                    <td
                      appTableInput
                      [(data)]="level4Data.Type"
                      (dataChange)="dataChange()"
                      [editEnable]="getEditEnabled(level4Data)"
                      [customOptions]="getCustomOptions(level3Data.SubDataTypes, level4)"
                      type="select">
                    </td>
                    <td>
                      <mat-checkbox color="accent" [(ngModel)]="level4Data.IsArray" (change)="dataChange()"></mat-checkbox>
                    </td>
                    <td>{{ level4Data.Constraints }}</td>
                    <td>
                      <mat-icon
                        *ngIf="level4Data.Type === 'Object'"
                        (click)="addRow([level1, level2, level3, level4])">
                        add_circle_outline
                      </mat-icon>
                    </td>
                  </tr>

                  <ng-template
                    [ngIf]="level4Data.SubDataTypes.length > 0 && level4Data.IsExpanded">
                    <ng-container
                      *ngFor="let level5Data of level4Data.SubDataTypes;index as level5">
                      <tr>
                        <td
                          style="padding-left: 23em"
                          appTableInput
                          [(data)]="level5Data.Name"
                          (dataChange)="dataChange()"
                          [editEnable]="getEditEnabled(level5Data)"
                          [showDrop]="level5Data.SubDataTypes.length > 0"
                          [(dropClicked)]="level5Data.IsExpanded"
                          type="text">
                        </td>
                        <td
                          appTableInput
                          [(data)]="level5Data.Type"
                          (dataChange)="dataChange()"
                          [editEnable]="getEditEnabled(level5Data)"
                          [customOptions]="getCustomOptions(level4Data.SubDataTypes, level5)"
                          type="select">
                        </td>
                        <td>
                          <mat-checkbox color="accent" [(ngModel)]="level5Data.IsArray" (change)="dataChange()"></mat-checkbox>
                        </td>
                        <td>{{ level5Data.Constraints }}</td>
                        <td></td>
                      </tr>
                    </ng-container>
                  </ng-template>
                </ng-container>
              </ng-template>
            </ng-container>
          </ng-template>
        </ng-container>
      </ng-template>
    </ng-container>
  </tbody>
</table>
<button class="add-data-model" mat-fab color="accent" (click)="addRow([])">
  <mat-icon>add</mat-icon>
</button>
