

<div class="relation-wrapper">
    <div class="row">
        <div class="w-10 d-flex justify-content-center align-items-center py-5 px-1">
            #
        </div>
        <div class="w-30 d-flex justify-content-center align-items-center py-5 px-1">
            Column - 1 <br> (&lt;undefined&gt;)
        </div>
        <div class="w-30 d-flex justify-content-center align-items-center py-5 px-1">
            Column - 2 <br> (&lt;undefined&gt;)
        </div>
        <div class="w-30 d-flex justify-content-center align-items-center py-5 px-1">
            Column - 2 <br> (&lt;undefined&gt;)
        </div>
    </div>
    <div class="row">
        <div class="w-10 d-flex justify-content-center align-items-center py-5 px-1">
            1
        </div>
        <div class="w-30 d-flex justify-content-center align-items-center py-5 px-1">
        </div>
        <div class="w-30 d-flex justify-content-center align-items-center py-5 px-1">
        </div>
        <div class="w-30 d-flex justify-content-center align-items-center py-5 px-1">
        </div>
    </div>
</div>