<div class="function-wrapper">
    <div class="row">
        <div class="w-10 d-flex justify-content-center align-items-center py-5 px-1">
            #
        </div>
        <div class="w-90">
            <div class="w-100 d-flex justify-content-center align-items-center py-5 px-1">
                Rebooked Passengerers (&lt;undefined&gt;)
            </div>
            <div class="w-100 d-flex justify-content-center align-items-center py-5 px-1">
                Edit Parameters
            </div>
        </div>
    </div>
    <div class="row">
        <div class="w-10 d-flex justify-content-center align-items-center py-5 px-1">
        </div>
        <div class="w-90 d-flex justify-content-center align-items-center py-5 px-1">
            Edit Function
        </div>
    </div>
</div>