<div class="sidenav expand">
    <div class="sidenav-header">
        <div class="logo">
            <mat-icon svgIcon="eru-logo"></mat-icon>
            <div class="brand-name">eru<span class="suffix">G</span></div>
        </div>
    </div>
    <div class="sidenav-body">
        <ul class="nav flex-column">
            <li class="nav-item selected">
                <mat-icon svgIcon="eru-home" class="nav-icons"></mat-icon>
                <a class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <mat-icon svgIcon="eru-file" class="nav-icons"></mat-icon>
                <a class="nav-link">Project Explorer</a>
                <!-- <ul class="drop-down">
                    <li>Yash Mehta</li>
                    <li>Yash Mehta</li>
                </ul> -->
            </li>
            <li class="nav-item">
                <mat-icon svgIcon="eru-deploy" class="nav-icons"></mat-icon>
                <a class="nav-link">Deployment</a>
            </li>
        </ul>
    </div>
    <div class="sidenav-footer">
        <div class="footer-nav">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <mat-icon svgIcon="eru-support" class="nav-icons"></mat-icon>
                    <a class="nav-link">Help & Support</a>
                </li>
                <li class="nav-item">
                    <mat-icon svgIcon="eru-settings" class="nav-icons"></mat-icon>
                    <a class="nav-link">Settings</a>
                </li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="user-info">
            <div class="user-icon">AB</div>
            <div class="user-detail">
                <p class="user-name">Altaf Baradia</p>
                <p class="user-role">Admin</p>
            </div>
        </div>
    </div>
</div>

<!-- <nav (mouseenter)="expand()" (mouseleave)="collapse()" class="navbar" [ngClass]="{'expand': !isCollapsed, collapse: isCollapsed}">
    <div *ngIf="isCollapsed" class="branding">
        <mat-icon class="logo-small" svgIcon="eru-logo"></mat-icon>
    </div>
    <div *ngIf="!isCollapsed" class="branding expand">
        <mat-icon class="logo-big" svgIcon="eru-logo"></mat-icon>
        <span class="brand-name">eruG</span>
    </div>
</nav> -->